<h1 class=" animated fadeIn">{{heroe.nombre | uppercase}}&nbsp;&nbsp;&nbsp; <small>({{heroe.aparicion | date:'y'}}) </small></h1>
<hr>

<div class="row animated fadeIn fast">
    <div class="col-md-4">
        <img [src]="heroe.img" class="img-fluid" [alt]="heroe.nombre">
        <br> <br>
        <a [routerLink]="['/heroes']" class=" btn btn-outline-danger btn-block">Regresar</a>

    </div>

    <div class="col-md-8">
        <h3>{{heroe.nombre}}</h3>
        <hr>
        <p>
            {{heroe.bio}}
        </p>

        <div *ngIf="heroe.casa == 'DC'" class="container" align="center">
            <br>
            <img src="assets/img/DC-logo.png" width="150px" height="150px">
        </div>
        <div *ngIf="heroe.casa == 'Marvel'" class="container" align="center">
            <br>
            <br>
            <br>
            <img src="assets/img/marvel-logo.png" width="200px" height="100px">
        </div>

    </div>

</div>