<app-loading *ngIf="respondio"></app-loading>

<div class="row animated fadeIn m-5" *ngIf="!respondio">
    <div class="col-2">
        <img [src]="artista.images | noimage" class="img-thumbnail img-circle">
    </div>

    <div class="col">
        <h3> {{artista.name}} </h3>
        <p>
            <a [href]="artista.external_urls.spotify" target="_blank">Ir a la página del artista</a>
        </p>
    </div>

    <div class="col-4 text-right">
        <button routerLink="search" class="btn btn-outline-danger">Regresar</button>
    </div>
</div>

<div class="row m-5">
    <div class="col">
        <table class="table text-light">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of top_tracks">
                    <th>
                        <img [src]="track.album.images | noimage" class="img-thumb">
                    </th>
                    <th>{{track.album.name}} </th>
                    <th>{{track.name}} </th>
                    <th>
                        <!--audio [src]="track.preview_url" controls></audio-->

                        <div *ngIf="track.uri">
                            <iframe [src]="track.uri | track" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                        <p *ngIf="!track.uri">No hay vista previa disponible :(</p>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>